.printer {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    text-align: center;
    display: block;

    &__icon {
        color: #b0b0b0;
        font-size: 50px;
        z-index: 1;
        cursor: pointer;
    }

    &__text {
        cursor: pointer;
    }

}
